
body {
    background: url(bj.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; 
}
.header {
    font-family: sans-serif;
    text-shadow: 5px 5px 3px rgb(77, 7, 7);
    margin-bottom: -50px;
    margin-top: 55px;
    font-size: 36px;
    color: white;
}
#form {
    border: solid rgb(0, 0, 0);
    border-width: 3px;
    margin: 8% auto ;
    width:600px;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    background-position: center;
    box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px, rgba(0, 0, 0, 0.5) -9px -3px 6px 1px, rgb(0, 0, 0) -9px -6px 10px 1px, rgb(0, 0, 0) -9px -6px 10px 1px, rgb(0, 0, 0) -20px -15px 30px 15px, rgb(0, 0, 0) -20px -15px 100px 15px;
}
#phone {
    font-family: Arial, Helvetica, sans-serif;
    color: #fdf9f9;
    font-size: xx-large;
    font-style: normal;
    margin-top: 50px;   
}
::placeholder {
    font-size: 15px;
    text-align: center;
}
#carrier {
    font-family: Arial, Helvetica, sans-serif;
    color: #fcf8f8;
    font-size: xx-large;
    font-style: normal;
    margin-top: 20px;
}
#phonenumber {
    border: solid rgb(21, 31, 18);
    padding: 20px 20px 20px 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 3px 4px rgba(20,20,20,0.4) inset;
    font-size: 20px;
    text-align: center;
    position: relative;
}
#carriertype {
    border: solid rgb(18, 27, 31);
    margin-bottom: 60px;
    padding: 20px 20px 20px 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 3px 4px rgba(20,20,20,0.4) inset;
    font-size: 20px;
    font-weight: bolder;
    text-align: inherit;
    position: relative;
    color: black;
}
#btn {
    margin-top: 15px;
    padding: 0px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 8px;
    padding: 1px 10px 1px 10px;
    background-color: green;
    
    
}
#btn:hover {
    background-color: greenyellow;
}
#btn2 {
    margin-top: 15px;
    padding: 0px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 8px;
    padding: 1px 10px 1px 10px;
    background-color: green;
    
}
#btn2:hover {
    background-color: greenyellow;
}

#pic {
    background-image: url(logo4.jpg);
    background-size: 400px;
    margin-top: -100px;
    
   
}


