* {
    padding: 0;
    margin: 0;
}


header {
    background-color: green;
    color: white;
    padding: 20px 20px;
}

main {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main p {
    font-size: 30px;
    gap: 100px;
    padding-top: 10px;
    line-height: 40px;
    text-align: center;
}
main form {
    display: flex;
    flex-direction: column;
    border: 0.5px solid green;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

main form div {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    align-items: center;
}

main form div input {
    width: 100%;
    border: 0.5px solid green;
    padding: 6px 0;
    border-top: white;
    border-left: white;
    border-right: white;
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}

main form div input:focus {
    outline: none;
}

main form div .l1 {
    padding-top: 50px;
}

/* main form div .inp2 {
    margin-bottom: 10px;
} */

main form div label {
    color: green;
    font-size: 26px;
}

::placeholder {
    color: rgba(128, 128, 128, 0.459);
}

form div button {
    padding: 5px 10px;
    border: 0.5px solid green;
    background-color: green;
    color: white;
    border-radius: 10px;
}

form div button:hover {
    background-color: rgb(96, 138, 30);
}

footer {
    background-color: #0a514c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    /* margin-top: 40px; */
  }
  
  footer div .bx {
    font-size: 20px;
    padding: 10px 5px;
  }
  
  footer div a {
    color: white;
  }
  
  footer p {
    margin-bottom: 10px;
  }

  @media  screen and (min-width: 1024px) {
    .form {
        width: 500px;
        height: 90vh;
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .form form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70vh;
        border-radius: 20px;
    }
    .logo {
        align-self: center;
        width: 500px; 
        margin-top: -100px;
        margin-bottom: 20px;
    }
    .logo img {
        margin-top: 0;
    }
  }